<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates is Working fine</title>
</head>
<body>
    <p>my name is sagar gupta : {{analz}}</p>
    <p>Upper case letter is : {{analyzed}}</p>
    <p>Remove Line after concatenation is: {{remove}}</p>
    <p>Remove Extra Space is: {{removee}}</p>
    <form action="/about" method="get">
        <textarea name="text" style="margin: 0px; width:721px; height:93px;" ></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove punctuation
        <br>
        <input type="checkbox" name="toupp">UPPERCASE
        <br>
        <input type="checkbox" name="newlineremover">Remove Line
        <br>
        <input type="checkbox" name="extraspace">Removed Extra Space
        <br>
        <button type="submit">Submit</button>
        <br>
    </form>
</body>
</html>